#myAnimation{
    width: 98px;
    height: 98px;
    padding: 5px;
    position:fixed;
    background-color: #333333;
    top: -110px;
    margin: 2px;
    color: snow;
    text-align: center;
    border-radius:100px;
}

button{
      padding: 10px;
      margin-right: 0;
      border: none;
      float: right;
      cursor: pointer;
}

#canvas{
    margin-right: 50px;
    float: right;
}

h1{ 
    text-align: center;
    text-justify: auto;
    position: absolute;
    font-family: monospace;
    font-size: 48px;
    margin-left: 200px;
}